@page "/accountprofile"
@using BlazorApp4.Data

<div>
    <input class="form-control" placeholder="enter your login to search the database" @bind-value="_login" />
</div>
<h3>AccountProfile</h3>

<div class="row">

    <div class="container-fluid">
     
        <table class="table table-responsive-md">
            
                <tr>
                    <th>Login</th>
                    
                    @if (@User.GetAccountProfile(_login)==null)
                    {
                        <td>No data</td>
                    }
                    else
                    {
                        <td>@User.GetAccountProfile(_login).Login</td>
                    }
                    
                </tr>
                <tr>
                    <th>Password</th>
                    @if (@User.GetAccountProfile(_login)==null)
                    {
                        <td>No data</td>
                    }
                    else
                    {
                        <td>@User.GetAccountProfile(_login).Password</td>
                    }
                </tr>
                <tr>
                    <th>Name</th>
                    @if (@User.GetAccountProfile(_login)==null)
                    {
                        <td>No data</td>
                    }
                    else
                    {
                        <td>@User.GetAccountProfile(_login).Name</td>
                    }
                </tr>
                <tr>
                    <th>Surname</th>
                    @if (@User.GetAccountProfile(_login)==null)
                    {
                        <td>No data</td>
                    }
                    else
                    {
                        <td>@User.GetAccountProfile(_login).Surname</td>
                    }
                </tr>
                <tr>
                    <th>Email</th>
                    @if (@User.GetAccountProfile(_login)==null)
                    {
                        <td>No data</td>
                    }
                    else
                    {
                        <td>@User.GetAccountProfile(_login).Email</td>
                    }
                </tr>
                <tr>
                    <th>Phone</th>
                    @if (@User.GetAccountProfile(_login)==null)
                    {
                        <td>No data</td>
                    }
                    else
                    {
                        <td>@User.GetAccountProfile(_login).Phone</td>
                    }
                </tr>
            
        </table>
    </div>
</div>




@code {
    public string _login { get; set; }
    private void CheckLogin (string checkedLogin)
    {
        
    }
  }