@page "/accountadministration"
@attribute [Authorize(Roles = "Administrator")]

@using BlazorApp4.Data

<h3>AccountProfile</h3>

<div class="row">

    <div class="container-fluid">
        @*<h2 class="text-center">@_searchDay. </h2>*@
        <table class="table table-responsive-md">
            <thead class="table-dark">
                <tr>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            @*<GenericTemplate Items="_tasks">
                <ItemTemplate Context="item">*@
                    @*<td>@User.GetAccountProfile("petrikovnl").Login</td>
                    <td>@User.GetAccountProfile("petrikovnl").Password</td>
                    <td>@User.GetAccountProfile("petrikovnl").Name</td>
                    <td>@User.GetAccountProfile("petrikovnl").Surname</td>
                    <td>@User.GetAccountProfile("petrikovnl").Email</td>
                    <td>@User.GetAccountProfile("petrikovnl").Phone</td>
                    <td><button class="btn btn-danger" @onclick="@(()=>User.DeleteUser("petrikovnl"))">Delete Account</button></td>*@
                @foreach (var item in AllUsers)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Login</td>
                                <td>@item.Password</td>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td><button class="btn btn-danger" @onclick="(() => DeleteUser(item))">Delete user</button></td>
                            </tr>
                        </tbody>
                    }
                    @*</ItemTemplate>
            </GenericTemplate>*@

            @*@if (_tasks == null)
            {
                @ListNull
            }
            else
            {
                if (_tasks.Count == 0)
                {
                    @ListEmpty
                }
                else
                    @foreach (var item in _tasks)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Name</td>
                                <td><input type="checkbox" @bind="item.InProgress" /></td>
                                <td><input type="checkbox" @bind="item.IsDone" /></td>
                                <td><button class="btn btn-danger " >Delete Task</button></td>
                            </tr>
                        </tbody>
                    }
                }*@
        </table>
    </div>
</div>

@*<ActionsWithTasks actions="true" addNewTaskEvent="AddNewTaskToList" _tasks="_tasks" />*@

@code {
    [Parameter]
    public List<User> AllUsers { get; set; } = User.GetAllUsersFromDb();
    
    private List<User> _allUsers = new List<User>();
    
    private void DeleteUser (User item)
    {
        AllUsers.Remove(item);
    }
  }