@page "/appointments"
@attribute [Authorize(Roles = "Administrator,User")]

<div class="row row-auto">
                <div>
                    <select @onchange="DoStuff">
                        @foreach (var template in AllMonth)
                        {
                            if (template == ConvertMonthClass.ConvertMonth(DateTime.Now.Month))
                            {
                                <option selected value=@template>@template</option>
                            }
                            else
                            {
                                <option value=@template>@template</option>
                            }
                        }
                    </select>
                </div>
                <div class="col col-auto">
                    <button class="btn btn-info" @onclick="()=>GetList()">Refresh List</button>
                </div>
                 <div class="col col-auto">
                    <button class="btn btn-primary" @onclick="AddToDB">Save Task List To DB</button>
                    <br />
                </div>
            </div>
<br />
<br />
<h4>My Appointments on: @_month</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Date</th>
                        <th>Doctors Name</th>
                        <th>Doctors Specialization</th>
                        <th>Address</th>
                        <th>Cabinet Number</th>
                        <th>Is Done</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var item in _appointmentList)
                {
                    <tbody>
                        <tr>
                            <td>@item.NameOfAppointment</td>
                            <td>@item.AppointmentsNotes</td>
                            <td>@item.DateOfAppointment</td>
                            <td>@item.DoctorsName</td>
                            <td>@item.DoctorsSpecialization</td>
                            <td>@item.MedCenterAddress</td>
                            <td>@item.CabinetNumber</td>
                            <td><input type="checkbox" @bind="item.IsDone" /></td>
                            <td><button class="btn btn-danger" @onclick="(() => DeleteTask(item))">Delete Appointment</button></td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            <h4>Добавить новую запись</h4>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Input new appointment here" @bind-value="_nameOfAppointment" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_appointmentsNotes" @bind-value="_appointmentsNotes" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="datetime-local" @bind-value=_dateOfAppointment min="@_dateOfAppointment"/>
                 </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_doctorsName" @bind-value="_doctorsName" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_doctorsSpecialization" @bind-value="_doctorsSpecialization" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_medCenterAddress" @bind-value="_medCenterAddress" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_cabinetNumber" @bind-value="_cabinetNumber" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark" @onclick="AddNewTaskToList">Add New Apointment</button>
                </div>
            </div>
        </div>
    </div>
</div>