@page "/appointments"
@using NikolayFinProject.Data

<h3>MyAppointments</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Date</th>
                        <th>Doctors Name</th>
                        <th>Doctors Specialization</th>
                        <th>Address</th>
                        <th>Cabinet Number</th>
                        <th>Is Done</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var item in _appointmentList)
                {
                    <tbody>
                        <tr>
                            <td>@item.NameOfAppointment</td>
                            <td>@item.AppointmentsNotes</td>
                            <td>@item.DateOfAppointment</td>
                            <td>@item.DoctorsName</td>
                            <td>@item.DoctorsSpecialization</td>
                            <td>@item.MedCenterAddress</td>
                            <td>@item.CabinetNumber</td>
                            <td><input type="checkbox" @bind="item.IsDone" /></td>
                            <td><button class="btn btn-danger" @onclick="(() => DeleteTask(item))">Delete Appointment</button></td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            <h4>Добавить новую запись</h4>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Input new appointment here" @bind-value="_nameOfAppointment" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_appointmentsNotes" @bind-value="_appointmentsNotes" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="datetime-local" @bind-value=_dateOfAppointment min="@_dateOfAppointment"/>
                 </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_doctorsName" @bind-value="_doctorsName" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_doctorsSpecialization" @bind-value="_doctorsSpecialization" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_medCenterAddress" @bind-value="_medCenterAddress" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="_cabinetNumber" @bind-value="_cabinetNumber" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark" @onclick="AddNewTaskToList">Add New Apointment</button>
                </div>
            </div>
            <br />    
            <div class="row row-auto">
                <div class="col col-auto">
                    <input class="form-control" placeholder="choose the month" @bind="_month" />
                </div>
                <div class="col col-auto">
                    <button class="btn btn-info" @onclick="()=>_appointmentList = AppointmentList.GetItem(_month)">Refresh List</button>
                </div>
                 <div class="col col-auto">
                    <button class="btn btn-primary" @onclick="AddToDB">Save Task List To DB</button>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Appointment> _appointmentList = AppointmentList.GetItem(_month);//new();

    private static string _month;
    private string _nameOfAppointment;
    private string _appointmentsNotes;
    private DateTime _dateOfAppointment = DateTime.Now;
    private string _doctorsName;
    private string _doctorsSpecialization;
    private string _medCenterAddress;
    private int _cabinetNumber;
    private bool _isDone;

    private void AddNewTaskToList()
    {
        if (!string.IsNullOrEmpty(_nameOfAppointment)&!string.IsNullOrEmpty(_appointmentsNotes)&!string.IsNullOrEmpty(_doctorsName)
        &!string.IsNullOrEmpty(_doctorsSpecialization)&!string.IsNullOrEmpty(_medCenterAddress))
        {
            _appointmentList.Add(new Appointment(_nameOfAppointment,_appointmentsNotes,_dateOfAppointment,
            _doctorsName,_doctorsSpecialization,_medCenterAddress,_cabinetNumber));

            _nameOfAppointment = string.Empty;
            _appointmentsNotes = string.Empty;
            _doctorsName = string.Empty;
            _doctorsSpecialization = string.Empty;
            _medCenterAddress = string.Empty;
        }
    }

    private void DeleteTask(Appointment item)
    {
        _appointmentList.Remove(item);
    }

    private void AddToDB()
    {
        if (!string.IsNullOrEmpty(_month)) AppointmentList.AddItem(new AppointmentList(_appointmentList), _month);
    }
}